<div class="row">
  <div class="span9">
    <h2>{{ agenda.name }}</h2>
    <h3>Objectives</h3>
    <ul>
      <li ng-repeat="objective in agenda.objectives">{{ objective.text }}</li>
    </ul>
    <h3>Agenda</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Item</th>
          <th>Time / min</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in agenda.items">
          <td>{{ item.text }}</td>
          <td>{{ item.time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="span3">
    <p>
      <a
        href="#/agendas/{{ agenda._id.$oid }}/edit/"
        class="btn btn-block btn-primary"
      >Edit agenda</a>
    </p>
  </div>
</div>
